@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        
.headerFont {
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    transition: 0.3s;
    cursor: pointer;
    

}

.pageNameFont {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}


* {
    box-sizing:border-box;
    margin: 0;
    padding: 7;
    background-color: rgb(240, 240, 240);

}

li, a {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    
}

button {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 35px;
    color: rgb(253, 253, 253);
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0%;
    
}
    
.pillNav li {
    display: inline-block;
    padding: 10px 50px;
    
}

.pillNav li a {
    transition: all 0.3s ease-in-out 0s;
    
}

.pillNav li a:hover {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 75px;

}

button {
    padding: 9px 25px;
    background-color:rgb(0, 0, 0) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color:rgb(39, 103, 177) ;
}

.searchBox {
    width: 500px;
    margin-left: 35%;
    margin-top: 180px;
    text-align: center;
    border-radius: 50px;
}

.searchButton {
    width: 250px;
    margin-left: 42.5%;
    margin-top: 80px;
    text-align: center;
}

.productDisplay{
    box-sizing:border-box;
    padding: 1%;
}

.box{
    width:10%;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    
  }
  
  .grid-item {
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .Show-results-label {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
  }