<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/Style.css">
<meta name="viewport" content="width=device-width, intial-scale=">

<title>Team5</title>
<html>
    <head>
    </head>
    <body onload="getAllProducts()">
        <header>
            <h1 class="headerFont">//Team5.com</h1>
            <nav>
                <ul class="pillNav">
                    <li><a href="/login">Account</a></li>
                    <li><a href="/onSale">On Sale</a></li>
                    <li><a href="/browse">Browse</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/settings">Site Settings</a></li>

                </ul>
            </nav>
            <a class ="basketBtn" href="#"><button>Basket</button></a>
        </header> 
        <section class="productDisplay" id="productDisplay"></section>
            
            <p class="Show-results-label">All Items:</p><!--doesnt work rn but will pass the searchTerm variable to show here-->
            <section id="products"></section>
        </section>  




        <script src="../static/js/scripting.js"></script>
    </body>
</html>