<link rel ="stylesheet" href="../static/css/Style.css">
<script src="../static\js\scripting.js"></script>
<meta name="viewport" content="width=device-width, intial-scale=">


<html>

    <head>
    </head>

    <body>
        <header>
            <h1 class="headerFont">//Acccount</h1>
            <nav>
                <ul class="pillNav">
                    <li><a href="index.html">Back To Home</a></li>
                    <li><a href="#">On Sale</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="Sub-pages/Search.html">Search</a></li>
                    <li><a href="Settings.html">Site Settings</a></li>

                </ul>
            </nav>
            <a class ="basketBtn" href="#"><button>Basket</button></a>
        </header>

        <!--pretty sure the form action is uneeded but its staying for now-->
        <form action="/form/submit" method="GET">
            <input type="text" name="text" class="searchBox" id="usernameBox" placeholder="Enter your username here">
            <input type="text" name="text" class="searchBox" id="passwordBox" placeholder="Enter your password here">
        </form> <!--placeholder box before login stuff is started-->
        <button class="searchButton" id = "loginButton" onclick="login()">login</button>
        <button class="searchButton" id = "createAccountButton" href = "">Create Account</button>
    </body>
</html>