<!DOCTYPE html>
<link rel ="stylesheet" href="../static/css/Style.css">
<meta name="viewport" content="width=device-width, intial-scale=">

<html>

    <head>
    </head>

    <body>
        <header>
            <h1 class="headerFont">//Search</h1>
            <nav>
                <ul class="pillNav">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">On Sale</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="/">Back To Home</a></li>
                    <li><a href="/settings">Site Settings</a></li>

                </ul>
            </nav>
            <a class ="basketBtn" href="#"><button>Basket</button></a>
        </header>

        <!--pretty sure the form action is uneeded but its staying for now-->
        <form action="/form/submit" method="GET">
            <input type="text" name="text" class="searchBox" id="searchBox" placeholder="Search for something here!">
        </form>
        <button class="searchButton" href = "SearchResults.html" onclick="getSearchTerm()">Search</button><br>
        <section id="results"></section>
        <script src="../static/js/scripting.js"></script>
    </body>
</html> 